$tokens: (
  unit: rem,
  colors: ((
    type: primary,
    color: #F291B5,
    shades: (10, 20, 30, 40, 50)
  ), (
    type: secondary,
    color: #D95B89,
    shades: (10, 20, 30, 40, 50)
  )),
  fonts: ((
    type: bebasneue-regular,
    uri: '../fonts/bebasneue-regular',
    sizes: (10, 12, 14, 16, 18, 20, 22)
  ), (
    type: gotham-medium,
    uri: '../fonts/gotham-medium',
    sizes: (10, 12, 14, 16, 18, 20, 22)
  ), (
    type: gotham-book,
    uri: '../fonts/gotham-book',
    sizes: (10, 12, 14, 16, 18, 20, 22)
  ), (
    type: gotham-bold,
    uri: '../fonts/gotham-bold',
    sizes: (10, 12, 14, 16, 18, 20, 22)
  ), (
    type: gotham-black,
    uri: '../fonts/gotham-black',
    sizes: (10, 12, 14, 16, 18, 20, 22)
  )),
  spacing: (
    small: 1,
    medium: 2,
    large: 3
  )
);
