.Button {
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}

.fg-primary {
    color: var(--fg-primary);
}


.gotham-medium-10 {
    font-family: "gotham-medium";
    font-size: var(--gotham-medium-14);
}

